@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --color-grey: hsl(0, 0%, 41%);
  --color-almost-white: hsl(0, 0%, 98%);
  --color-black: hsl(0, 0%, 8%);
  --color-bg: rgba(0, 0, 0, 0.7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--color-almost-white);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  display: none;
  z-index: 999;
}

header {
  max-width: 1400px;
  display: grid;
  padding: 2.5rem 4rem;
  grid-template-columns: 100px 1fr;
}

a {
  text-decoration: none;
  color: var(--color-grey);
  transition: color 0.3s ease, transform 0.2s ease;
}

a:hover {
  transform: scale(1.05);

  font-weight: bold;
}

.nav-menu {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navbar nav ul {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}

.navbar nav ul li {
  list-style-type: none;
  padding: 0.625rem 1rem;
  cursor: pointer;
}

.navbar nav ul li img {
  cursor: pointer;
}

.navbar ul ul {
  display: none;
  position: absolute;
  top: 50px;
  padding-bottom: 0.625rem;
}

.navbar li:hover ul,
.navbar li ul:hover {
  display: block;
}

.features-menu,
.company-menu {
  background: #fff;
  z-index: 999;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 1.563rem;
  padding: 1.875rem 1.25rem;
}

ul.features-menu {
  display: none;
  margin-left: -6.25rem;
  width: 180px;
}

ul.company-menu {
  display: none;
  width: 150px;
  margin-left: -1.875rem;
}

.features-active,
.company-active {
  display: none;
}

.arrow-icons {
  display: inline;
}

.features-menu li,
.company-menu li {
  padding: 15px 15px;
  color: var(--color-grey);
}

.features-menu img {
  margin-right: 10px;
}

.header-right {
  margin: auto 0;
}

.header-left a {
  padding: 0 1.563rem;
}

.header-right a {
  padding: 0.938rem 1.563rem;
}

.header-right a:hover {
  border-color: var(--color-black);
}

.active-header-right-link {
  border: 2px solid var(--color-grey);
  border-radius: 15px;
  background: #fff;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 1.25rem;
}

.hero-mobile {
  display: none;
}

.hero-left {
  padding: 1.875rem;
  margin-left: 20%;
}

.hero-left h1 {
  font-size: 4.5rem;
  margin-bottom: 1.875rem;
  margin-top: 3.125rem;
  width: 440px;
}

.hero-left p {
  color: var(--color-grey);
  line-height: 1.5;
  margin-bottom: 4.375rem;
  width: 390px;
}

.hero-left a {
  background: var(--color-bg);
  color: var(--color-almost-white);
  padding: 1.25rem 2.5rem;
  border-radius: 15px;
}

.hero-left a:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.hero-left a:hover {
  background: var(--color-bg);
  color: var(--color-black);
  font-weight: bold;
  border: 2px var(--color-black) solid;
}

.hero-left-logos {
  margin-top: 5.625rem;
}

.hero-left-logos img {
  padding: 0 0.625rem;
}

.hero-right {
  width: 500px;
}

.hero-right img {
  width: 90%;
  margin-right: auto;
}

footer {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  font-size: 1rem;
}

/* Mobile Display */

@media (max-width: 768px) {
  .nav-menu {
    z-index: 1000;
    display: block;
    position: fixed;
    left: 80%;
  }

  .submenu {
    z-index: 998;
  }

  .navbar li:hover ul,
  .navbar li ul:hover {
    display: none;
  }

  .close {
    display: none;
    position: absolute;
    top: -5px;
  }

  .arrow-icons {
    margin-left: 0.938rem;
    position: relative;
    top: -5px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    list-style-type: none;
    padding: 0 1.875rem;
    height: 30px;
  }

  header {
    display: flex;
    padding: 2.5rem;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    background: #fafafa;
    width: 100vw;
  }

  .header-logo {
    position: fixed;
  }

  main {
    padding-top: 100px;
  }

  li.menu-item.features.active {
    height: 200px;
  }

  li.menu-item.company.active {
    height: 160px;
  }

  a {
    font-size: 1.3rem;
  }

  .nav {
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 70%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: hsl(0, 0%, 98%);
    z-index: 999;
    transition: transform 0.3s ease;
  }

  .navbar {
    margin-top: 5rem;
  }

  .show-navbar {
    height: 10rem;
  }

  .navbar nav ul li {
    padding: 1.188rem;
    width: 200px;
  }

  .features-menu,
  .company-menu {
    background: inherit;
    margin-top: 0;
  }

  .navbar ul ul {
    display: none;
    position: relative;
    top: auto;
    font-size: 0.75rem;
    padding-bottom: 0.625rem;
    z-index: 999;
    border-radius: 10px;
  }

  .navbar li ul {
    width: 100%;
    margin-left: 0;
  }

  .header-right {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 0.625rem;
    margin-top: 1.25rem;
  }

  .hero-mobile {
    display: block;
  }

  .hero-desktop {
    display: none;
  }

  .hero {
    display: flex;
    padding: 1.25rem;
    margin: 0 2.5rem;
    flex-direction: column-reverse;
  }

  .hero-left h1 {
    font-size: 2rem;
    margin-bottom: 1.875rem;
    margin-top: 0;
    width: auto;
  }

  .hero-left p {
    color: var(--color-grey);
    line-height: 1.5;
    margin-bottom: 4.375rem;
    width: 70vw;
  }

  .hero-left {
    padding: 0;
    text-align: center;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-left-logos img {
    padding: 0 0.313rem;
    width: 65px;
  }

  .hero-right {
    width: 90%;
  }

  .hero-right img {
    width: 100%;
    margin-left: 1rem;
  }
}
